@import models.Book
@import views.html.libraryItems.layout
@(bookForm : Form[Book])
@import helper._

@layout("Burrow Book") {
    <h1>Add Book</h1>
    @helper.form(action = routes.BookController.update()) {

        @helper.inputText(bookForm("cast"))
        @helper.inputText(bookForm("languages"))
        @helper.inputText(bookForm("subtitles"))

        @helper.inputText(bookForm("isbn"), 'readonly -> "readonly",'_label -> "ISBN")
        @helper.inputText(bookForm("title"), 'readonly -> "readonly",'_label -> "Title")
        @helper.inputText(bookForm("sector"), 'readonly -> "readonly",'_label -> "Sector")
        @helper.inputText(bookForm("cast"), 'readonly -> "readonly",'_label -> "Sector")
        @helper.inputText(bookForm("languages"), 'readonly -> "readonly",'_label -> "Sector")
        @helper.inputText(bookForm("subtitles"), 'readonly -> "readonly",'_label -> "Sector")
        @helper.inputText(bookForm("dateTime"), '_label -> "Burrowed date/time")
        @helper.inputText(bookForm("reader"), '_label -> "Reader Id")

        <input type="submit" value="Burrow Book">
    }
}
